.cn {
    background-color: red;
    text-align: center;
    color: white;
  }
  .tbay {
    background-color: blue;
    color: white;
    text-align: center;
  }
  .ngay {
    color: red;
    text-align: center;
  }
  .tbay2 {
    color: blue;
    text-align: center;
    color: white;
  }
  .trongtuan {
    background-color: gold;
    text-align: center;
    color: white;
  }
  .ngay0001 {
    color: blue;
    text-align: center;
  }
  .ngay0002 {
    color: red;
    text-align: center;
  }
  .thang {
    color: blue;
  }
  .center {
    text-align: center;
  }